* {
  color-scheme: light !important;
}

:root {
  color-scheme: light !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #ffffff !important;
  color: #1B3C53 !important;
}

@media (prefers-color-scheme: dark) {
  html, body, #root {
    background-color: #ffffff !important;
    color: #1B3C53 !important;
  }
}
